<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAccManageement</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/AdminAccManagement.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- For pop up alerts-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- For export-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0]|tojson }}");
            </script>
        {% endif %}
    {% endwith %}

    <div class="nav-btn">
        <a href="{{ url_for('admin.AdminDashboard') }}" class="glass-btn">Return Dashboard</a>
        <a href="{{ url_for('admin.UserAccManagement') }}" class="glass-btn">User Accounts</a>
    </div>

    <!-- HEADER -->
    <div class="glass-header">
        <h1>ADMIN ACCOUNT MANAGEMENT</h1>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-container">

        <!-- LEFT: FORM -->
        <div class="glass-form">
            <h3>Edit User Info</h3>

            <form method="POST" action="{{ url_for('admin.handle_admin_actions') }}">
                <div class="input-group">
                    <label>Username:</label>
                    <input type="text" name="username" required>
                </div>

                <div class="input-group">
                    <label>Password:</label>
                    <input type="text" name="password" required>
                </div>

                <div class="input-group">
                    <label>Account Type:</label>
                    <input type="text" name="type_admin" readonly>
                </div>

                <div class="button-group">
                    <button id="plus-button" type="submit" name="action" value="add" class="button-text">Add Admin
                        Account</button>
                    <button id="edit-button" type="submit" name="action" value="edit" class="button-text">Edit
                        Account</button>
                    <button id="delete-button" type="submit" name="action" value="delete" class="button-text">Delete
                        Account</button>
                </div>
            </form>
        </div>

        <!-- RIGHT: TABLE PLACEHOLDER -->
        <div class="glass-placeholder">

            <div class="table-controls">
                <form method="POST" action="{{ url_for('admin.admin_search_username') }}">
                    <input type="text" name="searchUsername" placeholder="Enter Username" required>
                    <button id="search-id-btn" type="submit">Search by Username</button>
                </form>

                <a href="{{ url_for('admin.AdminAccManagement') }}">
                    <button type="button" id="refresh-btn">Refresh</button>
                </a>
                <a href="{{ url_for('admin.export_table', table_name='admin_accounts') }}">
                    <button id="export-btn" type="button">Export Table</button>
                </a>
                <a href="{{ url_for('admin.export_table', table_name='deleted_admin_accounts') }}">
                    <button id="export-btn" type="button">Export Archived Table</button>
                </a>
                <form method="POST" action="{{ url_for('admin.clear_all_admin') }}">
                    <button id="clear-btn" type="submit" name="action" value="clear_all_admin">Clear All</button>
                </form>

            </div>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Account Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% if admins %}
                    <!-- #Kapag merong admins -->
                    {% for admin in admins %}
                    <!-- #Niloloop niya yung admins -->
                    <tr class="admin-row">
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.password }}</td>
                        <td>{{ admin.type_admin }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">No admin accounts found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <script src="{{ url_for('static', filename='JAVASCRIPT/AdminAccManagement.js') }}"></script>

</body>

</html>