<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeletedUserManageement</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/DeletedUserManagement.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav-btn">
        <a href="{{ url_for('admin.AdminDashboard') }}" class="glass-btn">Return Dashboard</a>
    </div>

    <!-- HEADER -->
    <div class="glass-header">
        <h1>DELETED USERS ACCOUNTS</h1>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-container">

        <!-- LEFT: FORM -->
        <div class="glass-form">
            <h3>Edit User Info</h3>

            <form method="POST" action="{{ url_for('admin.restore_user') }}">
                <div class="input-group">
                    <label>ID:</label>
                    <input type="text" name="id" required readonly>
                </div>

                <div class="input-group">
                    <label>First Name:</label>
                    <input type="text" name="fname" required readonly>
                </div>

                <div class="input-group">
                    <label>Last Name:</label>
                    <input type="text" name="lname" required readonly>
                </div>

                <div class="input-group">
                    <label>Course & Section:</label>
                    <input type="text" name="course_section" required readonly>
                </div>

                <div class="input-group">
                    <label>Account Type:</label>
                    <input type="text" name="account_type" required readonly>
                </div>

                <div class="button-group">
                    <button id="restore-button" type="submit" class="button-text">Restore User</button>
                </div>
            </form>
        </div>

        <!-- RIGHT: TABLE PLACEHOLDER -->
        <div class="glass-placeholder">

            <div class="table-controls">

                <form method="POST" action="{{ url_for('admin.deleted_search_user') }}">
                    <input type="text" placeholder="Enter ID" name="search_id">
                    <button id="search-id-btn" type="submit" name="action" value="search_id">Search by ID</button>
                </form>

                <form method="POST" action="{{ url_for('admin.deleted_search_user') }}">
                    <input type="text" placeholder="Enter First or Last Name" name="search_name">
                    <button id="search-name-btn" type="submit" name="action" value="search_name">Search by Name</button>
                </form>

                <a href="{{ url_for('admin.DeletedUserManagement') }}">
                    <button id="refresh-btn">Refresh</button>
                </a>

                <a href="{{ url_for('admin.UserAccManagement') }}">
                    <button id="user-button">User Accounts</button>
                </a>
                <a href="{{ url_for('admin.export_table', table_name='deleted_user_accounts') }}">
                    <button id="export-btn" type="button">Export Archived Table</button>
                </a>
                <form method="POST" action="{{ url_for('admin.clear_all_deleted_user') }}">
                    <button id="clear-btn" type="submit" name="action" value="clear_all_deleted_user">Clear All</button>
                </form>

            </div>

            <div class="table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Account Type</th>
                            <th>Course and Section</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if archive %}
                        {% for user in archive %}
                        <tr class="log-row">
                            <td>{{ user.id }}</td>
                            <td>{{ user.fname }}</td>
                            <td>{{ user.lname }}</td>
                            <td>{{ user.account_type }}</td>
                            <td>{{ user.course_section }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6">No archived users found</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <script src="{{ url_for('static', filename='JAVASCRIPT/DeletedUserManagement.js') }}"></script>

</body>

</html>