<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeletedUserManageement</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/DeletedUserManagement.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="nav-btn">
        <a href="{{ url_for('admin.AdminDashboard') }}" class="glass-btn">Return Dashboard</a>
    </div>

     <!-- HEADER -->
    <div class="glass-header">
        <h1>DELETED USERS ACCOUNTS</h1>
    </div>

        <!-- MAIN CONTENT -->
    <div class="main-container">

        <!-- LEFT: FORM -->
        <div class="glass-form">
            <h3>Edit User Info</h3>

            <form>
                <div class="input-group">
                    <label>ID:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>First Name:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Last Name:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Course & Section:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Account Type:</label>
                    <input type="text" >
                </div>

                <div class="button-group">
                    <button id="restore-button" type="button" class="button-text">Restore User</button>
                </div>
            </form>
        </div>

        <!-- RIGHT: TABLE PLACEHOLDER -->
        <div class="glass-placeholder">

           <div class="table-controls">
                <input type="text" placeholder="Enter ID">
                <button id="search-id-btn">Search by ID</button>

                <input type="text" placeholder="Enter Name">

                <button id="search-name-btn">Search by Name</button>
                <button id="refresh-btn">Refresh</button>
                <a href="{{ url_for('admin.UserAccManagement') }}">
                <button id="user-button">User Accounts</button>
                </a>
                <button id="export-btn">Export Archived Table</button>
                <button id="clear-btn">Clear All</button>

            </div>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Account Type</th>
                        <th>Course and Section</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2022100036</td>
                        <td>Troll AsCc</td>
                        <td>Acc is TROll</td>
                        <td>Student</td>
                        <td>BSCPE 2C</td>
                    </tr>
                   <tr>
                        <td>2022100036</td>
                        <td>Troll ACc</td>
                        <td>Acc is TROll</td>
                        <td>Student</td>
                        <td>BSCPE 2C</td>
                    </tr>
                    <tr>
                        <td>2022100036</td>
                        <td>Troll ACc</td>
                        <td>Acc is TROll</td>
                        <td>Student</td>
                        <td>BSCPE 2C</td>
                    </tr>
                    
            </tbody>
        </table>
    </div>
    
</body>
</html>