<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Table Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/LogTableManagement.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="nav-btn">
        <a href="{{ url_for('admin.AdminDashboard') }}" class="glass-btn">Return Dashboard</a>
        <a href="{{ url_for('admin.CapacityTrackingAdminSide') }}" class="glass-btn"> Return To Capacity Tracking</a>
    </div>

     <!-- HEADER -->
    <div class="glass-header">
        <h1>Log Table</h1>
    </div>

        <!-- MAIN CONTENT -->
    <div class="main-container">

        <!-- LEFT: FORM -->
        <div class="glass-form">
            <h3>User Info</h3>

            <form>
                <div class="input-group">
                    <label>ID:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>First Name:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Last Name:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Course & Section:</label>
                    <input type="text">
                </div>

                <div class="input-group">
                    <label>Account Type:</label>
                    <input type="text" >
                </div>

                <div class="input-group">
                    <label>Date & Time Logged:</label>
                    <input type="text" >
                </div>

            </form>
        </div>

        <!-- RIGHT: TABLE PLACEHOLDER -->
        <div class="glass-placeholder">

           <div class="table-controls">
                <input type="text" placeholder="Enter ID">
                <button id="search-id-btn">Search by ID</button>

                <input type="text" placeholder="Enter Name">

                <button id="search-name-btn">Search by Name</button>

                <button id="refresh-btn">Refresh</button>
                <button id="export-btn">Export Table</button>
                <button id="clear-btn">Clear All</button>

            </div>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Account Type</th>
                        <th>Course and Section</th>
                        <th>Date & Time</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2022100036</td>
                        <td>Dwyane</td>
                        <td>Salvador</td>
                        <td>Student</td>
                        <td>BSCPE 2C</td>
                        <td>05/09/2026 1:38 AM</td>
                    </tr>
                    <tr>
                        <td>2022100420</td>
                        <td>Liquid</td>
                        <td>Efficdascence</td>
                        <td>Proffesor</td>
                        <td>BSCPE 2C</td>
                    </tr>
                     <tr>
                        <td>2022100069</td>
                        <td>Meow</td>
                        <td>Kitty</td>
                        <td>Bobcat</td>
                        <td>BSCPE 2C</td>
                    </tr>
                    
            </tbody>
        </table>
    </div>
    
</body>
</html>