<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & Found Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ReservedRoomsTracker.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav-btn">
        <a href="{{ url_for('admin.dashboard') }}" class="glass-btn">Return Dashboard</a>
    </div>

    <div class="export-buttons-topleft">
        <button class="glass-btn">Export Lost Table</button>
        <button class="glass-btn">Export Lost Archived Table</button>
    </div>

    <!-- HEADER -->
    <div class="glass-header">
        <h1>Reserved Rooms Tracker</h1>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-container">

        <!-- LEFT: FORM -->
        <div class="glass-form">
            <h3>Add Item</h3>

            <form>
                <div class="input-group">
                    <label>Representative Name</label>
                    <input type="text" name="representative">
                </div>

                <div class="select-arrow1 select-wrapper">
                    <label>Room</label>
                    <select class="filter-dropdown" name="filter-status" name="room">

                        <option value="digital-hub">Digital Hub</option>
                        <option value="discussion-room2nd">Discussion Room</option>
                        <option value="special-gad">Special Collection & GAD Corner</option>
                        <option value="booklatan">Booklatan</option>
                        <option value="avr">AVR</option>
                        <option value="graduate-school-sec">Graduate School Section</option>
                        <option value="discussion-room3rd">3rd Floor Discussion Room</option>
                        <option value="multimedia-room">Multimedia Room</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Date</label>
                    <input type="date" name="date">
                </div>

                <div class="input-group">
                    <label>Time</label>
                    <input type="time" name="time" id="timeSelect">
                </div>

                <div class="input-group">
                    <label>Reason for Reservation</label>
                    <input type="text" name="reason">
                </div>

                <div class="button-group">
                    <button id="plus-button" type="button" class="button-text">Add Reservation</button>
                    <button id="edit-button" type="button" class="button-text">Refresh</button>
                    <button id="delete-button" type="button" class="button-text">Delete Reservation</button>
                </div>
            </form>
        </div>

        <!-- RIGHT: TABLE PLACEHOLDER -->
        <div class="glass-placeholder">

            <div class="table-controls">
                <input type="text" placeholder="Enter Representative">
                <button id="search-id-btn">Search Representative</button>
                <input type="date">
                <button id="filter-status-btn">Search Date</button>
                <div class="select-arrow2 select-wrapper">
                    <select class="filter-dropdown" name="filter-status">
                        <option value="all-rooms">All Rooms</option>
                        <option value="digital-hub">Digital Hub</option>
                        <option value="discussion-room2nd">Discussion Room</option>
                        <option value="special-gad">Special Collection & GAD Corner</option>
                        <option value="booklatan">Booklatan</option>
                        <option value="avr">AVR</option>
                        <option value="graduate-school-sec">Graduate School Section</option>
                        <option value="discussion-room3rd">3rd Floor Discussion Room</option>
                        <option value="multimedia-room">Multimedia Room</option>
                    </select>
                </div>
                <button id="filter-status-btn">Filter By Room</button>
                <a href="{{ url_for('admin.ReservedRoomsTracker') }}">
                    <button type="button">Refresh</button>
                </a>
                <form method="POST" action="{{ url_for('admin.clear_all_rooms') }}">
                    <button id="clear-btn" type="submit" name="action" value="clear_all_rooms">Clear All</button>
                </form>

            </div>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Date </th>
                        <th>Time</th>
                        <th>Representative's Name</th>
                        <th>Reason For Reserving</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reservations %}
                    <tr class="res-row" data-id="{{ r.id }}" data-room="{{ r.room }}" data-datetime="{{ r.datetime }}"
                        data-rep="{{ r.representative }}" data-reason="{{ r.reason }}">

                        <td>{{ r.room }}</td>
                        <td>{{ r.datetime }}</td>
                        <td>{{ r.rep_name }}</td>
                        <td>{{ r.reason }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<script src="{{ url_for('static', filename='JAVASCRIPT/ReservedRoomsTracker.js') }}"></script>

</body>

</html>